* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #EEF0F8;
    box-sizing: border-box;
    min-height: 100vh;
    padding-bottom: 185px;
}


.content {
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 150px;
}

.content .content__left {
    margin-right: 25px;
    max-width: 1220px;
    flex-grow: 1;
}

.content__actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.table-wrapper {
    padding-bottom: 37px;
    background-color: #fff;
}

.table {
    border: none;
    font-size: 13px;
    border-collapse: collapse;
    flex-grow: 1;
    width: 100%;
}

.table__header {
    border: none;
    background-color: #fff;
    color: #a4a4b5;
    font-size: 13px;
}

.table__header th {
    border: none;
    padding: 25px;
    text-align: start;
}

.table__row {
    color: #3F4254;
    background-color: #f4f5f8;
    border-bottom: 5px solid #fff;
}

.table__row:hover {
    background-color: #eff0f4;

}

.table__row td {
    padding: 25px 0 22px 22px;
    min-width: 200px;
    border-bottom: 5px solid #fff;
}

.table__row td:first-child {
    padding-left: 25px;
}


.user-form {
    padding: 30px 25px 25px 25px;
    background-color: #fff;
    max-width: 600px;
    min-width: 400px;
    flex-grow: 1;
    margin-top: 71px;
}

.user-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.user-form .user-form__actions {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}


.form-group {
    margin-bottom: 15px;
}

.form-group .email-input-container {
    position: relative;
}

.form-group .email-input-container .icon {
    position: absolute;
    top: 50%; /* Adjust vertical positioning as needed */
    left: 10px; /* Adjust horizontal positioning as needed */
    transform: translateY(-50%);
    background-image: url('../app/assets/email.png');
    width: 20px; /* Adjust icon size as needed */
    height: 20px; /* Adjust icon size as needed */
    background-size: cover; /* Scale the icon to fit */
}

.form-group .form-group__error  {
    font-size: 14px;
    color: #ef7da0;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #3F4254;
}

.form-group input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    background-color: #f3f6f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="email"] {
    padding-left: 45px;
}

.form-group select {
    height: 40px;
}


/*buttons*/
.btn {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 15px 40px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s
}

.btn.btn-danger {
    background-color: #f44682;
}

.btn.btn-primary {
    background-color: #2e8ff0;
}

/*notifications*/
.notification {
    position: fixed;
    width: 280px;
    height: 55px;
    border-radius: 6px;
    color: #fff;
    text-align: start;
    line-height: 55px;
    padding-left: 25px;
}

.notification-success {
    top: 55px;
    right: 45px;
    background-color: #66BB6A;
}

.notification-danger {
    top: 45px;
    left: 55px;
    background-color: #ef7da0;
}

.flex-1 {
    flex-grow: 1;
}
