<div class="user-form">
    <div class="user-form__header">
        <h3>Matthew Perry</h3>
        <div ng-click="closeForm()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <defs>
                    <style>.a {
                        fill: #a4a4b5;
                    }

                    .b {
                        fill: none;
                    }</style>
                </defs>
                <path class="a"
                      d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z"/>
                <path class="b" d="M0,0H24V24H0Z"/>
            </svg>
        </div>
    </div>
    <div class="user-form__content">
        <form name="userForm">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="userName" ng-model="userData.userName" required unique-validator
                       is-edit-mode="mode.edit" user="selectedUser">
                <div ng-show="userForm.userName.$error && submitted" class="form-group__error">
                    <span ng-show="userForm.userName.$error.uniqueValidator">Username should be unique</span>
                    <span ng-show="userForm.userName.$error.required">User Name is required</span>
                </div>
            </div>

            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" ng-model="userData.firstName" required>
                <div ng-show="userForm.firstName.$error && submitted" class="form-group__error">
                    <span ng-show="userForm.firstName.$error.required">First Name is required</span>
                </div>
            </div>

            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" ng-model="userData.lastName" required>
                <div ng-show="userForm.lastName.$error && submitted" class="form-group__error">
                    <span ng-show="userForm.lastName.$error.required">Last Name is required</span>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <div class="email-input-container">
                    <input ng-pattern="'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'" type="email" id="email"
                           name="email" ng-model="userData.email" required>
                    <div class="icon"></div>
                </div>
                <div ng-show="userForm.email.$error && submitted" class="form-group__error">
                    <span ng-show="userForm.email.$error.required">Email is required</span>
                    <span ng-show="userForm.email.$error.pattern">Please enter valid email</span>
                </div>
            </div>

            <div class="form-group">
                <label for="userType">User Type:</label>
                <select id="userType" name="type" ng-model="userData.type" required>
                    <option value="User">User</option>
                    <option value="Admin">Admin</option>
                </select>
                <div ng-show="userForm.type.$error && submitted" class="form-group__error">
                    <span ng-show="userForm.type.$error.required">Type is required</span>
                </div>
            </div>

            <div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" ng-model="userData.password" minlength="8"
                           ng-pattern="'[^\w\d]*(([0-9]+.*[A-Za-z]+.*)|[A-Za-z]+.*([0-9]+.*))'" required>

                    <div ng-show="userForm.password.$error && submitted" class="form-group__error">
                        <span ng-show="userForm.password.$error.required">Password is required</span>
                        <span ng-show="userForm.password.$error.minlength">Minimum 8 characters</span>
                        <span ng-show="userForm.password.$error.pattern">Must include at least one letter and one number</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="repeatPassword">Repeat Password:</label>
                    <input type="password" id="repeatPassword" name="repeatPassword" ng-model="userData.repeatPassword"
                           passwords-equal="userForm.password" required>
                    <div ng-show="userForm.repeatPassword.$error && submitted" class="form-group__error">
                        <span ng-show="userForm.repeatPassword.$error.passwordsEqual">Passwords do not match.</span>
                    </div>
                </div>
            </div>


            <div class="user-form__actions"
                 ng-style="mode.edit ? {'justify-content': 'space-between'} : {'justify-content': 'center'}">
                <a ng-show="mode.edit" class="btn btn-danger" ng-click="deleteUser()">Delete</a>
                <a ng-show="mode.edit" class="btn btn-primary" ng-click="submitForm('edit')">Save</a>
                <a ng-show="mode.create" class="btn btn-primary" ng-click="submitForm('create')">Create</a>
            </div>
        </form>
    </div>
</div>
